{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="form-page">
    <div class="form-card">
        <h1>Log In</h1>
        <form method="POST">
            <label for="email">Email:</label> 
            <input type="email" name="email"><br>
            <label for="password">Password:</label>Password: 
            <input type="password" name="password" id="password"><br>
            <input type="submit" value="Log in">
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</div>
{% endblock %}